img{
    width: 350px;
    border: groove 1px white;
    border-radius: 10px;
}

h3{
    font-size: 30px;
    color:#671111;
}

h4{
    font-size: 20px;
    font-weight: lighter;
}

p{
    font-size: 19px;
    padding: 10px;
}

h4, p{
    color: #671111;
    border: groove 2px #671111;
    border-radius: 10px;
    padding: 10px;
}

a{
    font-size: 17px;
}
a:hover{
    font-size: 18px;
}