# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# See http://help.github.com/ignore-files/ for more about ignoring files.

/node_modules
npm-debug.log
yarn-error.log